
body {
  background-color: lightGray;
}

.mainHeader {
  font-style: italic;
}

.dataDiv ul{
  font-family: "Georgia", serif;
  font-size: 1.25em;
  color: #001a00;
}

.dataDiv li{
  font-family: "Arial", sans-serif;
  font-size: .8em;
  color: blue;
}

/*.table{
  border: 1px solid green;
}*/

#sales {
  border: 1px solid green;
}

td {
	padding: 5px;
	border-radius: 5px;
  border: 1px solid black;
  background: gray;
}

th {
	background-color: navy;
	color: white;
}
